<h1 class="current-player">Vez de: {{ currentPlayer === 'X' ? placar.player1.name : placar.player2.name }}</h1>
<div class="board" (click)="checkResultado()">
    @for (row of board; track row; let i = $index) {
        <div class="row">
            @for (square of row; track square; let j = $index) {
                <div class="square" (click)="fazerJogada(i, j)">
                    @if (square === 'X') {
                        <img src="{{ placar.player1.thumbnail }}">
                    }
                    @else if (square === 'O') {
                        <img src="{{ placar.player2.thumbnail }}">
                    }
                    @else {
                        {{ square }}
                    }
                </div>
            }
        </div>
    }
</div>
<app-placar [placar]="placar" /> 