$input-background-color: white;
$input-text-color: #333;

$input-border-color: lighten($input-background-color, 10%);
$input-border-focus-color: #66afe9;

$input-hover-border-color: darken($input-border-color, 10%);

input {
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  transition: border-color 0.3s ease;

  background-color: $input-background-color;
  color: $input-text-color;
  border: 2px solid $input-border-color;

  &:hover {
    border-color: $input-hover-border-color;
  }

  &:focus {
    border-color: $input-border-focus-color;
  }
}

app-character-box {
  color: white;
  cursor: pointer;
}